# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.env/

# Ignore environment variable files
.env
*.env

# Ignore database files
*.sqlite3

# Ignore logs
*.log

# Ignore compiled files
*.so
*.o
*.a

# Ignore settings files that may contain sensitive information
settings.py

# Ignore SQL dump files
product.sql

# Ignore system files
.DS_Store
Thumbs.db

# Ignore JetBrains IDE project files
.idea/

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore all other directories and files you don't want to track
